
    @import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');

    *{
    
        color: white;
        font-family: Roboto;
        margin: 0;
        padding:0;
        box-sizing: border-box;
      
    }
    .w33{
        width: 33.3%;
    }
    .w50 {
        width: 50%;
    }
    .center{
        max-width: 100%;
        padding: 0 2%;
        margin: 0 auto;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    
    .clear{
        clear: both;
    }
    
    body{
        
        max-width: 1280px;
        background-image: url("C:/Users/Eduardo/Desktop/CFGP/01%20-%20Home/00_Background.png");
        background-repeat: repeat-y;
    }
    
    
    header{
        overflow: hidden;
        background: transparent;
      border: none;
        top: 0;
        width: 100%;
     
    }
    
       
        
    
    .desktop ul {
        margin-left: 20px;
       padding: 20px ;
       padding-left: 200px;
        list-style-type: none;
    
    
    
    }
    .desktop li{
        padding-left: 40px;
        text-transform: uppercase;
        display: inline-block;
    }
    .desktop a {
        text-decoration:none;
        color: white;
    
    }
    .desktop a:hover{
        color: #f500f5 ;
    }
    .background01{
        top: 0;
        opacity: 0.5;
    }
    .secao1{
        
        position: absolute;
        top: 30%;
        display: inline-block;
       
    
    }
    .TextoS1{
        width: 50%;
        font-size: 30px;
        
        animation-name: anim-2;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
     
    
    
    }
    .textoS1-2{
        width: 50%;
        font-size: 30px;
        animation-name: anim-3-3;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    
    }
    
    
    .TextoS1 h1{
        
        font-weight: lighter;
        margin-bottom: 50px;
    
    }
    
    .TextoS1 p{
        font-weight: lighter;
        font-size: 22px;
        margin-bottom: 50px;
    }
    .textoS1-2 h1{
        font-weight: lighter;
        margin-bottom: 50px;
    }
    .textoS1-2 p{
        font-weight: lighter;
        font-size: 22px;
        margin-bottom: 50px;
    }
    
    .Botoes0101{
          
        display: inline-block;
    }
        .BotaoCadastro{
            
       
           font: lighter;
            font-size: 18px;
            text-align: center;
            color:#ffffff;
            background:transparent;
            border:1px solid #f500f5;
            text-shadow:0px -1px 1px #222222;
            box-shadow:2px 2px 5px #000000;
            -moz-box-shadow:2px 2px 5px #000000;
            -webkit-box-shadow:2px 2px 5px #000000;
            border-radius:0px 22px 0px 31px;
            -moz-border-radius:0px 22px 0px 31px;
            -webkit-border-radius:px 22px 0px 31px;
            height: 50px;
            width:196px;
          ;
         
        }
        .BotaoCadastro:hover{
        background: violet;
        }
     
        .BotaoVerprojeto {
           
            font: lighter;
            font-size: 18px;
            text-align: center;
            color:#ffffff;
            background:transparent;
            border:1px solid #f500f5;
            text-shadow:0px -1px 1px #222222;
            box-shadow:2px 2px 5px #000000;
            -moz-box-shadow:2px 2px 5px #000000;
            -webkit-box-shadow:2px 2px 5px #000000;
            border-radius:0px 22px 0px 31px;
            -moz-border-radius:0px 22px 0px 31px;
            -webkit-border-radius:px 22px 0px 31px;
            height: 50px;
            width:196px;
            
          
        }
       
      
       
        .ImgCapacete{
            width: 900px;
            height: 900px;
          left: 30%;
            position: absolute;
            top: 0;
            right: 0;
            animation-name: anim-2;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
         
    
        }
        .ImgJogPro{
            overflow: hidden;
            left: 50%;
            position: absolute;
            top: 0;
            right: 0;
            animation-name: anim-3;
       animation-duration: 5s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
    
           
        }
    
        .secao2{
          margin-top:10%;
            text-align: center;
           
    
        }
        .secao2 h1{
            margin-left: 30%;
          width: 50%;
          font-size: 50px;
    
        }
        .secao2 p{
            margin-left: 20%;
            
           font-size: 15px;
            padding-bottom: 10%;
        }
        .textoS3{
            width: 30%;
            position: absolute;
            
            display: inline-block;
            border-left: #ff00ff solid 4px ;
            
    
        }
        .textoS3 h1{
            margin-bottom: 5%;
        }
        .textoS3 p{
            margin-top: 30%;
            font-size: 22px;
        }
    
        .BotoesS3{
          
                 float: right;
        }
    
        .textoS4{
            margin-bottom: 30px;
            margin-top: 30px;
            font-size: 50px;
            padding: 10px;
            display: inline-flex;
            margin-left: 10%;
        }
        .textoS4 h1{
            margin-right: 5px;}
            .textoS4 h2{
                color: #ff00ff ;
            
            }
            .Fotovideo{
                max-width: 400px;
                
            }
            .secao5{
                margin-top: 60px;
    
            }
            .Formacao{
                margin-top: 60px;
                width: 30%;
                padding-left: 10px;
            position: absolute;
         
            display: inline-block;
            border-left: #ff00ff solid 4px ;
    
            }
            .secao7 button:hover{
                background: violet;
            }
            .secao8 button:hover{
                background: violet
            }
    
            .Formacao h1{
                font-size: 30px;
                margin-bottom: 60px;
            }
            .Fotoformacao{
    
                float: right;
            }
    .TextoForma h1{
        font-size: 50px;
        margin-top: 10%;
        margin-left: 20%;
    }
    .TextoForma p{
        font-size: 20px;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    section .secao7{
        display: inline-block;
    }
    .btn-wrap{
        margin-bottom: 50px;
        margin-left: 20px;
        padding-right: 20px;
        position:relative;
        display: inline-block;
    }
    .btn-wrap button{
        position:absolute;
        z-index:1;
        top:80%;
        left:50%;
        width:120px;               /* largura para o botÃ£o */
        height:60px;              /* altura para o botÃ£o */
        padding:0;
        margin:-15px 0 0 -30px;   /* margem Ã  esquerda e ao topo metade da medida do botÃ£o */
        font: lighter;
        font-size: 12px;
        text-align: center;
        color:#ffffff;
        background:transparent;
        border:1px solid #f500f5;
        text-shadow:0px -1px 1px #222222;
        box-shadow:2px 2px 5px #000000;
        -moz-box-shadow:2px 2px 5px #000000;
        -webkit-box-shadow:2px 2px 5px #000000;
        border-radius:0px 22px 0px 31px;
        -moz-border-radius:0px 22px 0px 31px;
        -webkit-border-radius:px 22px 0px 31px;
       
    
    }
    .botaomaiscursos{
        margin-top: 20px;
        text-align: center;
    }
    .secao8 button{
        left:50%;
        width:120px;               /* largura para o botÃ£o */
        height:60px;              /* altura para o botÃ£o */
        padding:0;
        margin:-15px 0 0 -30px;   /* margem Ã  esquerda e ao topo metade da medida do botÃ£o */
        font: lighter;
        font-size: 12px;
        text-align: center;
        color:#ffffff;
        background:transparent;
        border:1px solid #f500f5;
        text-shadow:0px -1px 1px #222222;
        box-shadow:2px 2px 5px #000000;
        -moz-box-shadow:2px 2px 5px #000000;
        -webkit-box-shadow:2px 2px 5px #000000;
        border-radius:0px 22px 0px 31px;
        -moz-border-radius:0px 22px 0px 31px;
        -webkit-border-radius:px 22px 0px 31px;
       
    
    }
    
    
    .textos9 h3{
        margin-top: 10%;
        font-size: 30px;
        margin-left: 10%;
    
    }
    .textos9 p{
        color:  #f500f5;
        font-size: 30px;
        margin-left: 10%;
        font-weight: lighter;
    }
    .secao9 form{
        width: 33%;
        float: right;
       
    
    }
    .secao9 textarea{
        border: none;
        margin-bottom: 10px;
        background-color: rgb(40, 21, 44);
        width: 400px;
        height: 400px;
        float: right;
    }
    .secao9 input{
        top:    60px;
        float: right;
    }
    .secao9 #nome{
       margin-left: 20px;
        float: left;
      width: 150px;
        height: 30px;
        border: none;
        margin-bottom: 10px;
        background-color: rgb(40, 21, 44);
    
    }
    .secao9 #email{
       
        width: 190px;
        height: 30px;
        border: none;
        margin-bottom: 10px;
        background-color: rgb(40, 21, 44);
    
    }
    .secao9 button{
        margin-left: 20px;
        float: left;
        margin-top: 10%;
        font: lighter;
        font-size: 12px;
        text-align: center;
        color:#ffffff;
        background:transparent;
        border:1px solid #f500f5;
        width: 400px;
        height: 60px;
    }
    .secao9 button:hover{
        background: violet;
    }
    
     footer{
         background: rgb(20, 8, 15);
         width: 110%;
         height: 200px;
     }
     footer h1{
         margin-bottom: 100px;
     }
     .navfooter{
         float: right;
     }
     .navfooter ul{
        margin-left: 20px;
        padding: 20px ;
        padding-left: 200px;
         list-style-type: none;
    
     }
     .navfooter li{
        padding-left: 40px;
        text-transform: uppercase;
        display: inline-block;
        list-style-type: none;
     }
    
        /** animaÃ§oes**/
    
        @keyframes Esq-Direita{
            from{transform: translateX(-300px);}
        }
        @keyframes Direita-esquerda{
            from{transform: translateX(300px);}
        }
    
        @keyframes desaparecer{
            form{opacity: 0;}
            to{ opacity: 1;}
        }
        @keyframes desaparecer2{
            form{opacity: 1;}
            to{ opacity: 0;   }
        }
     
    @keyframes anim-1 {
        0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 0%; opacity: 1; }
      33.33%, 100% { left: 0; opacity: 0; }
    }
    
    @keyframes anim-2 {
        0%, 33.33% {right: 100%; opacity: 0; }
      41.63%, 58.29% { right: 0%; opacity: 1; }
      66.66%, 100% { right: 0; opacity: 0; }
    }
    @keyframes anim-3 {
        0%, 66.66% {right: 100%; opacity: 0; }
      74.96%, 91.62% { right: 0%; opacity: 1; }
      100% { right: 0; opacity: 0; }
    }
    
    @keyframes anim-2-2 {
        0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 0%; opacity: 1; }
      66.66%, 100% { left: 0; opacity: 0; }
    }
    
    @keyframes anim-3-3 {
        0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 0%; opacity: 1; }
      100% { left: 0; opacity: 0; }
    }
    
    
    